body{
     background-img:url(pictures/background.jpg);
	 background-size:100% 100%;
	 background-attachment:fixed;
}

div#body{
     width:100px;
	 height:200px;
	 margin:auto;
	 margin-top:50px;
	 }
	 
img{
     padding:5px;
	 background-color:body background="red.jpg">;
	  -webkit-transition: background-color 0.3s;
	  -webkit-box-shadow: inset 0px 0px 10px #565656;
	 margin:10px;
}

img:hover{
     background-color:red;	 
	  
