﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Catalogos.aspx.cs" Inherits="WebApplication1.Catalogos" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<!----- <a href="Especial/alicia_key_sz-no_one.mp3"target="_new">Cancion</a>------>
  <embed src="Especial/alicia_key_sz-no_one.mp3" autostar=true loop=infinite volume="80" width="0" height="0" />

   <!DOCTYPE html>
<html lang="en">
    <head>
        <title>Catalogos Abarrotic</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Slicebox - 3D Image Slider with Fallback" />
        <meta name="keywords" content="jquery, css3, 3d, webkit, fallback, slider, css3, 3d transforms, slices, rotate, box, automatic" />
		<meta name="author" content="Pedro Botelho for Codrops" />
		<link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/slicebox.css" />
		<link rel="stylesheet" type="text/css" href="css/custom.css" />
		<script type="text/javascript" src="js/modernizr.custom.46884.js"></script>
	</head>
	<body background="Imagenes_png/fondo.jpg">
		<div class="container">

			<div class="codrops-top clearfix">
				<a href="http://www.facebook.com/"><span>&laquo; Visitanos en Facebook@</span>Abarrotic</a>
				<span class="right">
					<a target="_blank" href="Default.aspx">Regresar al Inicio<strong>Abarrotic</strong></a>
					<a href=""><strong></strong>Su tienda de confianza</a><br />
&nbsp;</span></div>

			<h1>Slicebox <span>Bienvenidos A Catalogos de Abarrotic</span></h1>
			
			

			<div class="wrapper">

				<ul id="sb-slider" class="sb-slider">
					<li>
						<a href="http://www.flickr.com/photos/strupler/2969141180" target="_blank"><img src="images/1.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Creative Lifesaver</h3>
						</div>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/strupler/2968268187" target="_blank"><img src="images/2.png" alt="image2"/></a>
						<div class="sb-description">
							<h3>Honest Entertainer</h3>
						</div>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/strupler/2968114825" target="_blank"><img src="images/3.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Brave Astronaut</h3>
						</div>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/strupler/2968122059" target="_blank"><img src="images/4.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Affectionate Decision Maker</h3>
						</div>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/strupler/2969119944" target="_blank"><img src="images/5.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Faithful Investor</h3>
						</div>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/strupler/2968126177" target="_blank"><img src="images/6.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Groundbreaking Artist</h3>
						</div>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/7.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
                    <li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/8.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
                    <li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/9.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
                    <li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/10.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
                    <li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/11.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>
						</div>
					</li>
                      <li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/12.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
                      <li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/13.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
                      <li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/14.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
                      <li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/15.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
                      <li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/16.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
                      <li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/17.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
                      <li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/18.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
                      <li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/19.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
                      <li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/20.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
                      <li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="images/21.png" alt="image1"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
				</ul>

				<div id="shadow" class="shadow"></div>

				<div id="nav-arrows" class="nav-arrows">
					<a href="#">Next</a>
					<a href="#">Previous</a>
				</div>

			</div><!-- /wrapper -->

			<p class="info"><strong>ABARROTIC: </strong>Estos y otros articulos encontraras en nuestra tienda</p>

		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.slicebox.js"></script>
		<script type="text/javascript">
		    $(function () {

		        var Page = (function () {

		            var $navArrows = $('#nav-arrows').hide(),
						$shadow = $('#shadow').hide(),
						slicebox = $('#sb-slider').slicebox({
						    onReady: function () {

						        $navArrows.show();
						        $shadow.show();

						    },
						    orientation: 'r',
						    cuboidsRandom: true
						}),

						init = function () {

						    initEvents();

						},
						initEvents = function () {

						    // add navigation events
						    $navArrows.children(':first').on('click', function () {

						        slicebox.next();
						        return false;

						    });

						    $navArrows.children(':last').on('click', function () {

						        slicebox.previous();
						        return false;

						    });

						};

		            return { init: init };

		        })();

		        Page.init();

		    });

		</script>
	</body>
</html>	


<body background="Imagenes_png/fondo.jpg">
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
    </head>
</body>
</html>
