﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="JuanReyes.aspx.cs" Inherits="WebApplication1.JuanReyes" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
 <style type="text/css">
        body, .login-submit, .login-submit:before, .login-submit:after {
  background: #373737 url("../fotos/bg.png") 0 0 repeat;
  
}
        body {margin:0;
  font-family: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
}
        .style1
        {
            width: 1225px;
            height: 313px;
        }
        #menu-wrapper ul{padding:0;
                      list-style:none;
            height: 35px;
        }
        #hmenu>li
        {
            display:inline-block;
        }
        #hmenu>li>a
        {
            display:block;
            padding:10px 5px;
            width:122px;
            height: 14px;
        }
        
        li ul
        {
            position:absolute;
            display:none;
        }
        
        .sub-menu a
        {
            display:block;
            padding:10px 5px;
            width:130px;
        }
        
        li:hover ul
        {
            display:block;
        }
        
        #menu-wrapper, li ul
        {
            background:#333;
        }
        
        #hmenu
        {
            width:819px;
            margin: 0 auto;
        }
        
        #hmenu a
        {
            color:#fff;
            text-decoration:none;
            font-weight:hold;
        }
        
        #hmenu li:hover
        {
            background:#a3cd39;
            text-shadow: 0 0 2px #000;
        }    
        
        
        
              
        
     .style2
     {
         color: #FFFFFF;
     }
        
        
        
              
        
    </style>
</head>
<body>
    <form id="form1" runat="server" >
    <div style="height: 315px" align=center>
            <img class="style1"  src="imagenes/marcas%20banner.png"/>
        </div>


        <div id="menu-wrapper" align=center>
        <ul id="hmenu"
         <ul class="sub-menu">
        <li><a href="Default.aspx">Inicio</a></li>
        <li><a href="Alumnos.aspx">Alumnos</a></li>
         
        </ul>
        </li>
        </div>
        <div align=center>
            <font size=2>
                    <h1 class="style2"><span class="style2">Informacion de Proveedores</h1>
            </span></font>
                <span class="style2">
                </div>
                 <br>
               <table border=2>
               <tr>
               <td class="style3">
               
                <span id="label" style="font-weight: 700;">Nombre Proveedor:</span></span>
                                <asp:TextBox ID="txtnomb_prov" runat="server" Height="22px" 
                       Width="147px" CssClass="style2"></asp:TextBox>
                                <span class="style2">
                                <br />
               
                    
           
                   &nbsp;<span id="label" style="font-weight: 700; " class="style2"><br />

<span id="Span1" style="font-weight: 700; ">Domicilio :</span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;               
                                </span>               
                                <asp:TextBox ID="txtcallesprov" runat="server" Height="23px" 
                       Width="200px" CssClass="style2"></asp:TextBox>
&nbsp;<span id="Span2" style="font-weight: 700; " class="style2"><span class="style2"><br />
                   <br />

<span id="Span3" style="font-weight: 700; ">
                                Numero de casa:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                                <asp:TextBox ID="txtnum_dep" runat="server" Height="23px" 
                       Width="140px" CssClass="style2"></asp:TextBox>
&nbsp;<span class="style2"><br />
                   <br />

<span id="label" style="font-weight: 700; ">Colonia:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                                <asp:TextBox ID="txtcoloniaprov" runat="server" Height="24px" 
                       Width="146px" CssClass="style2"></asp:TextBox>
&nbsp;<span id="Span5" style="font-weight: 700; " class="style2"><span class="style2"><br />
                   <br />

 
                   <span id="Span4" style="font-weight: 700; ">Ciudad:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                                <asp:TextBox ID="txtciudadprov" runat="server" Height="21px" 
                       Width="142px" CssClass="style2"></asp:TextBox>
&nbsp;<span class="style2"><br />
                   <br />


<span id="Span7" style="font-weight: 700; ">Telefono:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                                <asp:TextBox ID="txttelefonoprov" runat="server" Height="23px" 
                       Width="143px" CssClass="style2"></asp:TextBox>
                   <span class="style2">
                   <br />
                   <br />


                                <span id="Span6" style="font-weight: 700; " class="style7">Codigo postal:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                   </span>&nbsp;<asp:TextBox ID="txtcod_postalprov" runat="server" CssClass="style2" Height="23px" 
                                    Width="143px"></asp:TextBox>
                  


                  <td align=center>


                                    <span class="style2">


                         <asp:ImageButton ID="ImageButton3" runat="server" Height="58px" 
           ImageUrl="~/imagenes/modificar.png" onclick="ImageButton3_Click" Width="69px" />
                                    <br />
                                    <br />
                                    <br />


                  </td>

                  <td style="text-align: center">
                      <br />


    
             <span id="label2" style="font-weight: 700; " >
                                <asp:Label ID="Label1" runat="server" Text="id_cli:" Visible="False"></asp:Label>
                                </span>
                                </span>
                                </span>
                                <asp:TextBox ID="txtidprov" runat="server" 
            Height="22px" Width="81px" 
                                    ReadOnly="True" Visible="False" CssClass="style2"></asp:TextBox>


    
                  </td>
                   <span class="style2">
                   <br class="style2" />
                   &nbsp;&nbsp;</td>
            </tr>
                  
                       

                                    </div>

                                   
                                    <br>
                                    <br>
                                    <asp:Table ID="Table1" runat="server" Height="39px" Width="109px">
                                </asp:Table>
                                    <br>
                                    <br>
                                    <br>
                                    </table>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
    <p class="about-author">
      &copy; 2014 By Abarrotic
    </section>
        </span>
    </form>
    </span>
</body>
</html>
